[submodule "physics"]
    path = physics
    url = https://github.com/JoeOvenden/Interactive-Educational-Physics-Website
[submodule "runner"]
	path = runner
	url = https://github.com/JoeOvenden/Runner
[submodule "asteroids"]
	path = asteroids
	url = https://github.com/JoeOvenden/Asteroids
