<div id="events">
    {% for event in events %}
        <div id="{{ event.id }}" class="event">
            <div id="left-side">
                <h5 id="title"><a href="{% url 'event' event.id %}">{{ event.title }}</a></h5>
                <p>Distance: {{ event.formatted_distance }}</p>
                <p>Duration: {{ event.formatted_duration }}</p>
                <p>Scheduled for: {{ event.time }} {{ event.date }} </p>
            </div>
            <div id="right-side">
                
            </div>
        </div>
    {% endfor %}
</div>