{% extends "runner/layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
{% endblock %}


{% block body %}

    <div id="top-container">
        <div class="padded">
            <div>
                <h3>{{ event.title }}</h3>
                <p>Description: {{ event.description }}</p>
                <p>Date: {{ event.date }}</p>
                <p>Time: {{ event.time }}</p>
            </div>
            <hr>
            <div>
                <h5>Run details</h5>
                <p>Distance: {{ event.distance }}km{% if event.distance != 1%}s{% endif %}</p>
                <p>Duration: 
                    {% if event.duration.hour %}
                        {{ event.duration.hour }} hour{% if event.duration.hour > 1 %}s{% endif %}
                    {% endif %}
                    {{ event.duration.minute }} minutes</p>
                <p>Pace: {{ event.pace.hour|stringformat:"02d" }}:{{ event.pace.minute|stringformat:"02d" }} per km</p>    
                    
            </div>
        </div>
    </div>

    {% load static %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    
{% endblock %}