{% extends "runner/layout.html" %}

{% block body %}

    <div id="top-container">

        <div>
            <!-- Filters form -->
            <form action="{% url 'events_search' %}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Search for events here..." name="user_search">
                
                <table>
                    <tr>
                    {% for field in form %}
                        <th>{{ field.label }}</th>
                        <th>
                            {{ field }}
                        </th>
                        {% if forloop.counter|divisibleby:"2" %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
                {% if form.errors %}
                    <br>
                    <h5>Form errors:</h5>
                {% endif %}
                {% for field_name, error in form.errors.items %}
                    <ul>{{ field_name }}: {{ error }}</ul>
                {% endfor %}
                <button>Submit</button>
            </form>
        </div>

        {% include 'runner/event-cards.html' with events=events %}
        
    </div>

    {% load static %}
    <script src="{% static 'geolocation.js' %}"></script>

{% endblock %}