{% extends "about/layout.html" %}

{% block title %}Joe's Portfolio{% endblock %}

{% block body %}

    <div id="top-container">
        <div id="title">
            <h3>Joe Ovenden - Portfolio</h3>
        </div>

        <div id="leftRightButtonDiv">
            <button id="leftButton">Previous</button>
            <button id="rightButton">Next</button>
        </div>

        {% include 'about/project-cards.html' with project_cards=project_cards %}


    </div>


    {% load static %}
    <script src="{% static 'about/scripts/homepage.js' %}"></script>
    
{% endblock %}